:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#terminal {
  position: absolute;
  left: 20px;
  top: 20px;
  pointer-events: none;
  z-index: 100;
}

.xterm-viewport.xterm-viewport {
  scrollbar-width: thin;
}

.xterm-viewport::-webkit-scrollbar {
  width: 10px;
}

.xterm-viewport::-webkit-scrollbar-track {
  opacity: 0;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-color: #ffffff20;
}

.menu {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 100%;
  background: hsl(0, 25%, 20%);
  padding: 5px 0;
  min-width: 100px;
  font-size: 0.95em;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: default;
  display: none;
}

.menu-item {
  display: block;
  color: #fff;
  background: transparent;
  width: 100%;
  text-align: start;
  appearance: none;
  border: 0;
  white-space: nowrap;
  padding: 8px 20px;
  margin: 2px 0;
  cursor: pointer;
}

.menu-item:hover {
  background: hsl(0, 29%, 15%);
}

.room-label {
  position: absolute;
  pointer-events: none;
  text-shadow:
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    1px 0 0 #000,
    1px 1px 0 #000,
    0 1px 0 #000,
    -1px 1px 0 #000,
    -1px 0 0 #000;
}